/* Estilos gerais */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Estilos para a página index.html */
  
  .form-group {
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0069d9;
  }
  
  /* Estilos para a página resultado.html */
  
  .result-container {
    margin-top: 40px;
  }
  
  .result-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .result-container p {
    font-size: 18px;
    color: #666;
  }
  
  /* Estilos para a página gerar.html */
  
  .gerar-container {
    margin-top: 40px;
  }
  
  .gerar-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .gerar-container p {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .gerar-container .local {
    font-weight: bold;
    color: #007bff;
  }
  